body {
	margin: 0;
	text-align: center;
}

h1 {
	font-family: 'Nerko One';
	display: inline;
	font-size: 2em;
	font-weight: normal;
}

@font-face {
	font-family: 'Crossten';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Crossten-Black.ttf') format('truetype');
}
